<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle Alert Bot - Terms of Service</title>
    <link rel="stylesheet" href="terms.css">
</head>

<body>
    <h1>Terms of Service: Battle Alert Bot</h1>
    <ol>
        <li>
            You may not use this bot for malicious purposes, including but not limited to spam messaging, scams,
            distributing unrelated server content, or sharing harmful/off-site links.
        </li>
        <li>
            You must respect each server’s rules and the authority of server owners and administrators when using this
            bot.
        </li>
        <li>
            Do not include or transmit any personal or sensitive information through the bot’s custom messaging
            features.
        </li>
        <li>
            You must comply with all applicable <strong>Discord Terms of Service</strong> and Community Guidelines while
            using this bot.
        </li>
    </ol>

    <p>
        Failure to follow these terms may result in restricted access to the bot or removal from supported services.
    </p>
    <footer>
        <p>© 2026 Roadstone Interactive. All rights reserved.</p>
    </footer>
</body>

</html>